.homepage{
    color: rgb(182, 19, 73);
.top{
    img{
        height: 100vh;
        object-fit: cover;
        width: 100%;
        border-radius: 0 0 25% 25%;
    }
}
.bottom{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2{
        font-weight: 600;
        color: rgb(75, 87, 196);
    }
    p{
        max-width: 50%;
    }
    button{
        background: lightblue;

    }
}
}